DATABASE_URL="postgresql://neondb_owner:npg_eW3F4tPAwfdV@ep-fancy-haze-a112vyfy-pooler.ap-southeast-1.aws.neon.tech/neondb?sslmode=require&channel_binding=require"
JWT_SECRET=
JWT_EXPIRATION=15m
COOKIE_EXPIRATION=900000
PORT=3001